<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShopIt</display-name>


<servlet>
 <servlet-name>Add</servlet-name>
  <servlet-class>com.melvin.AddItemServlet</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Add</servlet-name>
  <url-pattern>/addItem</url-pattern>
  
  </servlet-mapping>    
  
   <servlet>
  <servlet-name>Show</servlet-name>
  <servlet-class>com.melvin.ShowCartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Show</servlet-name>
  <url-pattern>/showCart</url-pattern>
  
  </servlet-mapping>
  
   <servlet>
  <servlet-name>Remove</servlet-name>
  <servlet-class>com.melvin.RemoveItemServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Remove</servlet-name>
  <url-pattern>/removeItem</url-pattern>
  
  </servlet-mapping>


</web-app>